<nav class="navbar" data-component="site-navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">Hack Fables</a>
  </div>
  <div class="navbar-menu is-active">
    <div class="navbar-start">
      <a class="navbar-item" href="/preface.html">Home</a>
      <a class="navbar-item" href="/hamster-ferret-firesheep.html">Fables</a>
      <a class="navbar-item" href="/HackFables.pdf">Download</a>
    </div>
  </div>
</nav>
